:root {
  --success: #d4edda;
  --success-dark: #155724;
  --error: #f8d7da;
  --error-dark: #721c24;
  --primary: #1c2f40;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

body {
  font-family: sans-serif;
  background-color: var(--primary);
  color: white;
}
