.tagsList {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 5px 3px;
  background-color: var(--secondary);
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}

.selected {
  background-color: var(--secondary-dark);
  position: relative;
  transform: translateY(-1px);
}

.selected::after {
  content: "x";
  margin: 0 0 0 7px;
  color: hsl(344, 85%, 30%);
}
